.Contents__index-main__messages__message
  .Contents__index-main__messages__message__upper-info
    .Contents__index-main__messages__message__upper-info__user
      プロダクト情報
    -#   = message.user.name
    .Contents__index-main__messages__message__upper-info__date
    -#   = message.created_at.strftime("%Y/%m/%d %H:%M")
  .Contents__index-main__messages__message__text
    %p.lower-message__content
      小腹サポート